.explanationButton{
    width: 200px;
    height: 70px;
    margin: 50px;
    border-color: #28C700;
    border-radius: 5px;
    font-size: 100%;
    color: #28C700;
    background-color:rgba(0,0,0,0);
}
